extends ./_layout.jade

block append globals
	- var url = 'contacts.html'
block menu
	+menu({active: 'contacts'})

block content
	.section
		.section__head
			h2.section__title Контактная информация
		.section__body
			p
				nobr ООО &laquo;Велдтехмаш-О&raquo;
				br
				acronym(title='Идентификационный номер налогоплательщика', lang='ru') ИНН&nbsp;
				| 5637020364&nbsp;КПП 563701001
				br
				| 462030, Оренбургская обл., Октябрьский район, с. Октябрьское, ул. Садовая, д.&nbsp;38
				br
				| 460048, г. Оренбург, пр-кт Победы, д.&nbsp;152
				br
				| факс:&nbsp;
				nobr 8 (3532) 75-85-69
				br
				| тел.:&nbsp;
				nobr 96-13-93
				| ,&nbsp;
				nobr 97-81-42
				br
				| моб.:&nbsp;
				nobr 8-912-846-13-93
				br
				| E-mail:&nbsp;
				a(href='mailto:wtm-o@mashweld.ru')
					| wtm-o@mashweld.ru
				| ,
				br
				a(href='mailto:wtm-o@yandex.ru')
					| wtm-o@yandex.ru
				p
					| ОГРН 1095658014540
					br
					| ОКПО 62364221
					br
					| Р/с 40702810305090000064&nbsp;в Оренбургский РФ&nbsp;ОАО &laquo;Россельхозбанк&raquo; г. Оренбург
					br
					| К/с 30101810000000000816
					br
					| БИК 045354816
				p
					| Директор ООО &laquo;Велдтехмаш-О&raquo; Рокол&nbsp;И.&nbsp;Е. действует на&nbsp;основании Устава
