extends ./_layout.jade

block content
	.section
		.section__head
			h2.section__title О компании
		.section__body
			| <p><nobr>ООО &laquo;Велдтехмаш-О&raquo;</nobr>&nbsp;&mdash; молодое, динамично развивающееся предприятие, основанное в&nbsp;2009 году.</p>
			| <p>Предприятие успешно работает в&nbsp;области комплексного обеспечения предприятий сварочным оборудованием.</p>
			| <p>Ассортимент компании представлен широким спектром оборудования, аксессуаров и&nbsp;расходных материалов, что позволяет нам закрывать любые Ваши потребности в&nbsp;области электросварки и&nbsp;газосварки.</p>
			| <p>Наша задача не&nbsp;обеспечить Вас дорогостоящим оборудованием, а&nbsp;подобрать оборудование, действительно нужное для решения Ваших конкретных задач.</p>
			| <p>Поставка оборудования сопровождается полноценным сервисом и&nbsp;техническим сопровождением в&nbsp;период всего срока эксплуатации.</p>
			| <p>Для выполнения срочных заказов и&nbsp;максимального сокращения сроков доставки продукции нашим клиентам, компания предоставляет услугу доставки товара без посредников. При собственной доставке потребителю почти полностью исключаются ошибки при отгрузке&nbsp;&mdash; Вы&nbsp;можете быть уверены в&nbsp;сохранности товара.</p>
			| <p>С&nbsp;2019 года ООО &laquo;Велдтехмаш-О&raquo; предоставляет услуги по&nbsp;Валидации (поверке) сварочного оборудования. Работы осуществляются с&nbsp;применением оборудования фирмы EWM (Германия).</p>
