extends ./_layout.jade

block append globals
	- var url = 'partners.html'
block menu
	+menu({active: 'partners'})

block content
	.section
		.section__head
			h2.section__title Поставляемое оборудование
		.section__body
			.pure-content.wrapper
				table
					thead
						tr
							th Наименование
							th Оборудование
							th(width='100') Сайт
					tbody
						tr
							th EWM
							td EWM - инверторное сварочное оборудование MIG/MAG/TIG/MMA/Plasma/Microplasma (МП/МАДП/РАД/РД),  классические сварочные полуавтоматы MIG/MAG (МП/МАДП), аппараты для точечной контактной сварки, сварочные горелки MIG/TIG (МП/РАД), аксессуары (маски, устройства для заточки вольфрама, устройства документирования, запасные части).
							td
								a(href="https://www.ewm-sales.com/ru/", target="_blank") ewm-sales.com
						tr
							th Parker Torchology
							td Parker Torchology – ведущий мировой производитель высококачественных комплектующих для сварочного оборудования. Основным направлением деятельности компании является производство горелок для MIG/MAG (МП/МАДП), TIG (РАД) - сварки.
							td
								a(href="http://www.svarnoy.ru/", target="_blank") svarnoy.ru
						tr
							th MTG
							td MTG - инверторное сварочное оборудование MIG/MAG/TIG/MMA/Laser (МП/МАДП/РАД/РД), промышленные сварочные аппараты, сварочные горелки MIG/TIG (МП/РАД), документирование сварочного процесса, запасные части.
							td
								a(href="https://megmeet.ru/", target="_blank") megmeet.ru
						tr
							th ESAB
							td ESAB - инверторное сварочное оборудование MIG/MAG/TIG/MMA/Plasma (МП/МАДП/РАД/РД),  классические сварочные полуавтоматы MIG/MAG (МП/МАДП), оборудование для плазменной резки, сварочные горелки MIG/TIG (МП/РАД), аксессуары (электрододержатели, маски, запасные части)
							td
								a(href="https://www.esab.ru/", target="_blank") esab.ru
						tr
							th KOIKE
							td KOIKE - портативные машинки газокислородной резки и сварки, ручные резаки, аксессуары, расходные материалы и запасные части  (Япония).
							td
								a(href="https://koike-russia.ru/", target="_blank") koike-russia.ru
						tr
							th ПТК
							td Электросварочное оборудование MIG/MAG/TIG/MMA/Plasma (МП/МАДП/РАД/РД), газосварочное оборудование, промышленное оборудование, сварочные горелки EvoSpark, аксессуары и средства защиты, расходные материалы
							td
								a(href="http://www.ptk-spb.ru", target="_blank") ptk-spb.ru
						tr
							th ИТС
							td Выпрямители сварочные, сварочные полуавтоматы, реостаты балластные, тренажеры сварщика, оборудование для подготовки кромок, газосварочное оборудование
							td
								a(href="http://www.ets-svarka.ru", target="_blank") ets-svarka.ru
						tr
							th ТЭН и К плюс
							td Электропечи и термопеналы для сушки и прокалки сварочных электродов, сварочного флюса
							td
								a(href="https://tenikmiass.ru/", target="_blank") tenikmiass.ru
						tr
							th Технотерм-С
							td Технотерм-С – ведущий мировой производитель высококачественных комплектующих для сварочного оборудования. Основным направлением деятельности компании является производство горелок для MIG/MAG (МП/МАДП), TIG (РАД) - сварки, горелок для плазменной сварки и резки.
							td
								a(href="https://www.tehnoterm-s.ru/", target="_blank") tehnoterm-s.ru
						tr
							th АГНИ
							td Сварочные горелки для:
								br
								| - аргонодуговой сварки с вольфрамовым электродом TIG (РАД);
								br
								| - механизированной сварки MIG/MAG (МП/МАДП);
								br
								| - сменные части и запчасти горелок;
								br
								| - присоединительные элементы для горелок.

							td
								a(href="http://www.agniru.ru/", target="_blank") agniru.ru
						tr
							th Arc Torchology
							td Горелки Arc Torchology для MIG и TIG сварки - это передовые запатентованные технологии и уникальные расходные части. Инновационные решения в дизайне, улучшенная эргономика и использование новейших материалов позволяют новой серии сварочных горелок сделать качественный скачок в плане рабочей мощности, производительности, долговечности расходных частей, а также облегчения условий труда.
							td
								a(href="https://www.arctorchology.com/", target="_blank") arctorchology.com
						tr
							th Keean
							td Индийская компания Keean Industries Pvt. Ltd. - крупный производитель сварочных аксессуаров и инструмента c 1977 года. Производство оснащено машинами с ЧПУ, в том числе швейцарскими 5-осевыми токарными станками, электроэрозионным вырезным станком и роботами. На предприятии работает более 200 человек. Особое внимание уделяется контролю качества готовой продукции.
							td
								a(href="https://keean.in/", target="_blank") keean.in
						tr
							th МЕТАЛЛСТРОЙСНАБ
							td Сварочная проволока для механизированной сварки конструкций ответственного и общего назначения в среде защитных газов Ar/CО2- Ar/CО2/O2- CO2 омедненная CВ08Г2С-О/ CВ08ГС-О, полированная CВ08Г2С-П/ CВ08ГС-П диаметрами 0,8-1,6 мм. Соответствует  требованиям ГОСТа 2246-70 и ТУ BY100172845.004-2010
							td
								a(href="http://www.metallstroysnab.ru", target="_blank") metallstroysnab.ru
						tr
							th Хобекс
							td Более 120-ти марок сварочных электродов в ассортименте по диаметрам и номенклатуре.
							td
								a(href="http://www.hobex34.ru", target="_blank") hobex34.ru
