@font-face {
	font-family: 'Plumb';
	src: local('Plumb'), local('Plumb Regular'),
	url('Plumb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Plumb';
	src: local('Plumb'), local('Plumb Bold'),
	url('Plumb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Daxline';
	src: local('Daxline'), local('Daxline Medium'),
	url('DaxlineCyrTFMediumRegular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
