//Layouts
$pageWidth = 960px;

// Fonts
$fontNull = 0\/0 'null', a;
$baseFont = 12px\/1.25 $fontTahoma;

//Fonts Families
$fontTahoma = Tahoma, Verdana, Segoe, sans-serif;
$fontArial = Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontPlumb = 'Plumb', $fontTahoma;
$fontDaxline = 'Daxline', $fontTahoma;
