@font-face {
	font-weight:400;
	font-style:normal;
	font-family:"null";
	src:url('../fonts/null.svg#null') format("svg");
}

@font-face {
	font-family: 'Plumb';
	src: url('../fonts/Plumb-Regular.eot');
	src: local('Plumb'), local('Plumb Regular'),
	url('../fonts/Plumb-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Plumb-Regular.woff') format('woff'),
	url('../fonts/Plumb-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Plumb';
	src: url('../fonts/Plumb-Bold.eot');
	src: local('Plumb'), local('Plumb Bold'),
	url('../fonts/Plumb-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Plumb-Bold.woff') format('woff'),
	url('../fonts/Plumb-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Daxline';
	src: url('../fonts/DaxlineCyrTFMediumRegular.eot');
	src: local('Daxline'), local('Daxline Medium'),
	url('../fonts/DaxlineCyrTFMediumRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DaxlineCyrTFMediumRegular.woff') format('woff'),
	url('../fonts/DaxlineCyrTFMediumRegular.ttf') format('truetype');
//	src:url('../fonts/DaxlineCyrTFMediumRegular.svg#daxline') format("svg");
	font-weight: 500;
	font-style: normal;
}