.ico {
	position:relative;
	top:0;
	left:0;
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	background:none;
	background-position:50% 50%;
	background-repeat:no-repeat;
	font:$fontNull;
//	background:url("../img/bg/icons.png") -9999px -9999px no-repeat;
}
.ico_content_rss {
	width:18px;
	height:17px;
	background-image:url('../img/bg/ico-rss.png');
}