@use 'utilities/variables' as *;
@use 'utilities/mixins' as *;

.form {
  textarea {
    width:100%;
    max-width:100%;
    min-height:140px;
    margin:0 10px;
    padding:6px;
    box-sizing:border-box;
    background:#fff;
    border:1px solid #ccc;
    font:$base-font;
    color:#4e4e4e;
  }
}

.form_type_order {
  .form__list {
    padding:0 0 0 15px;
  }

  .form__item {
//    padding:0 6px;
  }

  .form__title {
    display:block;
    margin-bottom:6px;
  }

  .form__content {
    display:block;
    padding:0 15px 0 0;
    margin:0 0 0 -15px;

    .badge_type_input {
      width:100%;
      min-width:0;
    }
  }

  .form__actions {
    display:block;
    background:url('../img/bg/decor/decor-order-submit.png') no-repeat;
    padding:25px 0 0 20px;
    margin:0;
    min-height:94px;
  }

  input[type="text"] {
    @include placeholder(#aaa);
  }
}

.form_type_contact {
  .form__list {
    padding:0 0 0 15px;
  }

  .form__item {
    //    padding:0 6px;
  }

  .form__title {
    display:block;
    margin-bottom:6px;
  }

  .form__content {
    display:block;
    padding:0 15px 0 0;
    margin:0 0 0 -15px;

    .badge_type_input {
      width:100%;
      min-width:0;
    }
  }

  .form__actions {
    display:block;
    text-align:center;

    input[type="submit"] {
      width:122px;
      text-align:center;
    }
  }

  input[type="text"] {
    @include placeholder(#aaa);
  }
}

.form_content_filter {
  padding:16px 0 0;
}

