@use 'utilities/variables' as *;

.ico {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font: $font-null;
}
